# Binaries
bin/
bin-int/

# Dominion files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
Dominion/vendor/VulkanSDK
DominionEditor/assets/cache
scripts/__pycache__
