[submodule "Dominion/vendor/spdlog"]
	path = Dominion/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Dominion/vendor/GLFW"]
	path = Dominion/vendor/GLFW
	url = https://github.com/martbelko/glfw
[submodule "Dominion/vendor/glm"]
	path = Dominion/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Dominion/vendor/ImGui"]
	path = Dominion/vendor/ImGui
	url = https://github.com/martbelko/imgui/
[submodule "Dominion/vendor/yaml-cpp"]
	path = Dominion/vendor/yaml-cpp
	url = https://github.com/martbelko/yaml-cpp
[submodule "Dominion/vendor/assimp"]
	path = Dominion/vendor/assimp
	url = https://github.com/martbelko/assimp
