[submodule "Dominion/vendor/spdlog"]
	path = Dominion/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Dominion/vendor/GLFW"]
	path = Dominion/vendor/GLFW
	url = https://github.com/martbelko/glfw
