.vs/
bin/
!vendor/premake/bin
bin-int/

*.filters

*.user

*.sln

*.vcxproj

Sandbox/imgui.ini

Sandbox/DominionProfile-Runtime.json

Sandbox/DominionProfile-Shutdown.json

Sandbox/DominionProfile-Startup.json
